<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ash's Autograder</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333333;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 16px;
			text-decoration: none;
		}

		li a:hover{
			background-color: #111111;
		}
	</style>
</head>

<body>
	<div class=Navigation style="float:top; padding-left:100px">
		<h1>Welcome to Ash's Autograder</h1>
	</div>
	<div class=Content style="float:top; padding-left:100px">
		<div class=Welcome>
			<p>Welcome admin!</p>
		</div>

		<div class=Logout>
			<a href={{LOGOUT_URL}}>Logout</a>
		</div>

		<div class=ProjectLinks>

			<div class=Create>
				<a href={{ADMIN_PROJECTS_CREATE_URL}}>Create new project</a>
			</div>

			{% for project in projects %}
				<div class=ProjectLink>
					<p>{{project['project_id']}}</p>
					<p>{{project['project_name']}}</p>
					<a href=/project/{{project['project_id']}}>Project {{project['project_id']}}</a>
				</div>
			{% endfor %}
		</div>
	</div>
</body>

</html>
