<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ash's Autograder</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333333;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 16px;
			text-decoration: none;
		}

		li a:hover{
			background-color: #111111;
		}
	</style>
</head>

<body>
	<div class=Navigation style="float:right; padding-top:30px; padding-right:100px">
		<ul>
			<li><a href="/u/{{logname}}/"><b>{{logname}}</b></a></li>
			<li><a href="/accounts/logout/">Logout</a></li>
		</ul>
	</div>
	<div class=Content>
		<br>
		<br>
		<h1>Project {{project_num}}</h1>
		<div class=SubmitFile>
			<form action="" method="post">
				Submit your code <input type="file" name="file">
				<br>
			</form>
		</div>

		<div class=SubmissionsList>
			{% if submits_exist %}
				<ul>
					{% for submission in submissions %}
						<li><a href="/submission/{{submission_id}}/">Submission submission['created']</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<ul>
					<li>No submits made yet.</li>
				</ul>
			{% endif %}
		</div>

	</div>
</body>

</html>
