<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ash's Autograder</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333333;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 16px;
			text-decoration: none;
		}

		li a:hover{
			background-color: #111111;
		}
	</style>
</head>

<body>
	<div class=Navigation style="float:top; padding-left:100px">
		<h1>Project {{num}} Autograder</h1>
	</div>
	<div class=Content style="float:top; padding-left:100px">

		<div class="Logout">
			<a href={{LOGOUT_URL}}>Logout</a>
		</div>

		<div class="Score">
			<p>Best Score: {{best_score}} / 100</p>
			{% if best_id == -1 %}
				<p>Submission: None</p>
			{% else %}
				<p>Submission: {{best_id}}</p>
			{% endif %}
		</div>

		<div class="Submissions">
			{% if submissions|length == 0 %}
				<div class="Submission">
					<p>You have no submissions for this project.</p>
				</div>
			{% else %}
				{% for submission in submissions %}
					<div class="Submission">
						<p>Submission: {{submission['submission_id']}}</p>
						<p>Timestamp: {{submission['time']}}</p>
						<p>Score: {{submission['score']}}</p>
						<a href=/submission/{{submission['submission_id']}}>Submission Link</a>
					</div>
				{% endfor %}
			{% endif %}
		</div>

	</div>
</body>

</html>
